<section class="advantages">
<div class="container">
    <h2>Преимущества</h2>
<ul>
    <li class="advantages-item"><svg class=""><use href="./images/svg/sprite.svg#icon-program"></svg>Адаптированная авторская программа ВНО</li>
    <li class="advantages-item"><svg><use href="./images/svg/sprite.svg#icon-mobile"></svg>Современные методики обучения</li>
    <li class="advantages-item"><svg><use href="./images/svg/sprite.svg#icon-insurance">
    </svg>Финансовая гарантия результата</li>
</ul>
</div>
</section>