<section class="benefits">
  <div class="container">
    <h2 class="benefits-section__title">Почему нас выбирают</h2>

    <div class="benefits-wrapper">
      <ol class="benefit-list">
        <li class="benefit-item">
          <h3 class="benefit-title">—</h3>
          <p class="benefit-text">Обучение в малых командах</p>
        </li>
        <li class="benefit-item">
          <h3 class="benefit-title">—</h3>
          <p class="benefit-text">Визуализированные конспекты</p>
        </li>
        <li class="benefit-item">
          <h3 class="benefit-title">—</h3>
          <p class="benefit-text">Каждое занятие имеет цель и конкретный результат</p>
        </li>
        <li class="benefit-item">
          <h3 class="benefit-title">—</h3>
          <p class="benefit-text">Реальные результаты преподавателя</p>
        </li>
        <li class="benefit-item">
          <h3 class="benefit-title">—</h3>
          <p class="benefit-text">Прогамма курса соответствует требованиям МОН Украины</p>
        </li>
        <li class="benefit-item">
          <h3 class="benefit-title">—</h3>
          <p class="benefit-text">Набор команд по уровням знаний</p>
        </li>
      </ol>
    </div>
  </div>
</section>
