<header class="header">
    <div class="container header--container">

        <a class="logo" href="">
           <div class="hellEN">
                Hell
                <svg class="logo__icon" width="22" height="30">
                    <use href="./images/svg/sprite.svg#icon-campfire-logo"></use>
                </svg>
                EN
           </div>
            <p class="logo__text">
                <span class="logo__text2">АДСКИЙ</span>
                АНГЛИЙСКИЙ
            </p>
        </a>

        <nav class="navigation">
            <ul class="navigation__list">
                <li class="navigation__item">ПРОГРАМИ ОБУЧЕНИЯ</li>
                <li class="navigation__item">О НАС</li>
                <li class="navigation__item">ВАРИАНТЫ ОБУЧЕНИЯ</li>
                <li class="navigation__item">КОНТАКТЫ</li>
            </ul>
        </nav>

        <button class="header__button">
            КОНСУЛЬТАЦИЯ ПО ТЕЛЕФОНУ
        </button>

        <button class="menu-toggle js-open-menu" aria-expanded="false"
            aria-controls="mobile-menu" type="button">
            <svg class="menu-toggle__icon" width="20" height="12">
                <use href="./images/svg/sprite.svg#icon-menu"></use>
            </svg>
        </button>
    </div>

    <!-- Mobile Menu -->
    <div class="menu-container js-menu-container" id="mobile-menu">

        <a class="logo menu__logo" href="">
            <div class="hellEN">
                Hell
                <svg class="logo__icon" width="22" height="30">
                    <use href="./images/svg/sprite.svg#icon-campfire-logo"></use>
                </svg>
                EN
            </div>
            <p class="logo__text">
                <span class="logo__text2">АДСКИЙ</span>
                АНГЛИЙСКИЙ
            </p>
        </a>

        <ul class="menu__list">
            <li class="menu__list-item">Программа обучени</li>
            <li class="menu__list-item">О нас</li>
            <li class="menu__list-item">Варианты обучения</li>
            <li class="menu__list-item">Контакты</li>
        </ul>

        <button class="close-toggle js-close-menu" type="button">
            <svg class="menu-toggle__icon" width="20" height="12">
                <use href="./images/svg/sprite.svg#icon-close"></use>
            </svg>
        </button>
    </div>

</header>
<!-- Mobile menu toggle script -->
<script src="../js/mobile-menu.js"></script>
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/body-scroll-lock/3.1.5/bodyScrollLock.min.js"
    integrity="sha512-HowizSDbQl7UPEAsPnvJHlQsnBmU2YMrv7KkTBulTLEGz9chfBoWYyZJL+MUO6p/yBuuMO/8jI7O29YRZ2uBlA=="
    crossorigin="anonymous"></script>
<script defer src="../js/mobile-menu.js"></script>