<section class="hero">
    <div class="hero__overlay">
        <h1 class="hero__title">Комплексная подготовка к ВНО по английскому языку</h1>
            <ul class="hero__list">
                <li class="hero__item">Просто не будет</li>
                <li class="hero__item">Но ты гарантировано получишь <span class="hero__span">+25 баллов</span></li>
            </ul>
        <button class="hero__button">Хочу на бесплатное занятие</button>
    </div>
    <div class="hero__image">
        <img src="./images/hero_image.png" alt="Преподаватель">
    </div>
</section>