<div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <button class="backdrop-close" data-modal-close>
      <svg class="close-icon" width="11" height="11">
        <use href="./images/svg/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <form class="order-form">
      <h3 class="order-form-name">Оставьте свой телефон, наш консультант с Вами свяжется</h3>
      <label for="name" class="label">Имя</label>
      <div class="input-wrapper">
        <input class="input" type="text" name="name" id="name" />
        <svg width="18" height="18" class="modal-icon">
          <use href="./images/svg/sprite.svg#icon-name"></use>
        </svg>
      </div>
      <label for="phone" class="label">Телефон</label>
      <div class="input-wrapper">
        <input class="input" type="tel" name="phone" id="phone" />
        <svg width="18" height="18" class="modal-icon">
          <use href="./images/svg/sprite.svg#icon-phone"></use>
        </svg>
      </div>
      <label for="comment" class="label">Комментарий</label>
      <textarea
        class="comment"
        name="comment"
        id="comment"
        rows="6"
        placeholder="Введите текст"
      ></textarea>
      <use href="./images/svg/sprite.svg#icon-name"></use>

      <button type="submit" class="button">Отправить</button>
    </form>
  </div>
</div>
<!-- <script src="./js/modal.js"></script> -->
