<section class="section program">
  <h2 class="section__title">Наша программа</h2>
  <div class="section-wrapper">
    <div class="program-inner">
      <ul class="lists-container">
        <li class="list-wrapper">
          <h3 class="list-title">1 семестр</h3>
          <ul class="list">
            <li class="sublist-item">
              — Grammar
              <ul>
                <li class="basis-item">
                  Nouns & Articles<br />
                  Adjectives & Adverb
                </li>
              </ul>
            </li>
            <li class="sublist-item">
              — Vocabulary
              <ul>
                <li class="basis-item">
                  Family & Relations<br />
                  People & Society
                </li>
              </ul>
            </li>
          </ul>
        </li>

        <li class="list-wrapper">
          <h3 class="list-title">2 семестр</h3>
          <ul class="list">
            <li class="sublist-item">
              — Grammar
              <ul>
                <li class="basis-item">
                  Pronouns<br />
                  Active Voice<br />
                  Passive Voice
                </li>
              </ul>
            </li>
            <li class="sublist-item">
              — Vocabulary
              <ul>
                <li class="basis-item">
                  Home<br />
                  School<br />
                  Work
                </li>
              </ul>
            </li>
          </ul>
        </li>

        <li class="list-wrapper">
          <h3 class="list-title">3 семестр</h3>
          <ul class="list">
            <li class="sublist-item">
              — Grammar
              <ul>
                <li class="basis-item">
                  Modal verbs<br />
                  Infinitive<br />
                  Gerund<br />
                  Participle: 1, 2
                </li>
              </ul>
            </li>
            <li class="sublist-item">
              — Vocabulary
              <ul>
                <li class="basis-item">
                  Travel & Tourism<br />
                  Culture & Free Time<br />
                  Sport
                </li>
              </ul>
            </li>
            <li class="sublist-item">
              — Writing
              <ul>
                <li class="basis-item">Informal Letter</li>
              </ul>
            </li>
          </ul>
        </li>

        <li class="list-wrapper">
          <h3 class="list-title">4 семестр</h3>
          <ul class="list">
            <li class="sublist-item">
              — Grammar
              <ul>
                <li class="basis-item">
                  Clauses: Conditional and<br />
                  Wishes<br />
                  Direct / Reported speech<br />
                  Preposition<br />
                  Conjunction<br />
                  Numeral
                </li>
              </ul>
            </li>
            <li class="sublist-item">
              — Vocabulary
              <ul>
                <li class="basis-item">
                  Healthy Living<br />
                  Nature & Environment<br />
                  Money
                </li>
              </ul>
            </li>
            <li class="sublist-item">
              — Writing
              <ul>
                <li class="basis-item">Formal Letter</li>
              </ul>
            </li>
          </ul>
        </li>

        <li class="list-wrapper">
          <h3 class="list-title">5 семестр</h3>
          <ul class="list">
            <li class="sublist-item">
              —
              <ul>
                <li class="basis-item">
                  Revision<br />
                  Tests
                </li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>

  <section class="section benefits">
    <h2 class="section__title">Почему нас выбирают</h2>

    <div class="benefits-wrapper">
      <div class="benefit-item">
        <h3 class="benefit-title">—</h3>
        <p class="benefit-text">Обучение в малых командах</p>
      </div>
      <div class="benefit-item">
        <h3 class="benefit-title">—</h3>
        <p class="benefit-text">Визуализированные конспекты</p>
      </div>
      <div class="benefit-item">
        <h3 class="benefit-title">—</h3>
        <p class="benefit-text">Каждое занятие имеет цель и конкретный результат</p>
      </div>
      <div class="benefit-item">
        <h3 class="benefit-title">—</h3>
        <p class="benefit-text">Ревльные результаты преподавателя</p>
      </div>
      <div class="benefit-item">
        <h3 class="benefit-title">—</h3>
        <p class="benefit-text">Прогамма курса соответствует требованиям МОН Украины</p>
      </div>
      <div class="benefit-item">
        <h3 class="benefit-title">—</h3>
        <p class="benefit-text">Набор команд по уровням знанийs</p>
      </div>
    </div>
  </section>
</section>

<!-- test -->
<section class="foo">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore maxime at sint fuga minima
  nostrum unde libero excepturi magni sunt distinctio, quod hic voluptates maiores architecto cumque
  veritatis facilis ratione aperiam, reiciendis quas molestiae nesciunt commodi suscipit. Enim
  corrupti aspernatur necessitatibus aperiam ex reprehenderit id quos laboriosam, voluptate
  temporibus tempore nihil voluptas! In molestiae voluptatibus debitis illo! Tempore nobis ipsum
  molestiae aspernatur veniam asperiores consectetur repellat voluptas rem, perspiciatis quam
  voluptate voluptates quos ad, quis hic, iure quasi saepe mollitia veritatis? Accusamus nulla magni
  architecto modi rem, nam, totam eligendi blanditiis voluptate tenetur vitae nobis vel eaque quam
  voluptatem soluta impedit beatae sit! Quos, veniam! Maiores quasi fugit tempora dolorum autem ex
  consequuntur nemo temporibus cupiditate totam nobis facilis expedita magni fuga, quis laborum
  asperiores, incidunt voluptatum ipsam? Eaque culpa alias eius doloribus error corporis amet unde
  fuga quam ad modi delectus aperiam, cumque neque nihil et dolorum necessitatibus? Iure delectus,
  blanditiis, itaque ducimus cumque magni qui rem sunt perferendis esse dolores, explicabo veniam
  aut sapiente quidem repellat ipsum voluptas modi tenetur officiis veritatis. Sit quas at non! Unde
  dolor vitae nostrum expedita at eos veritatis, voluptatem iste saepe dicta quaerat illo officia
  magnam consequatur optio? Rem vero blanditiis neque consequuntur adipisci et magnam odit aperiam,
  doloribus a mollitia nesciunt quisquam ducimus ratione in, iure nemo vitae aliquid. Esse excepturi
  doloremque dolores minima asperiores nam accusantium earum vero doloribus, sapiente consectetur
  beatae, enim incidunt reprehenderit sit suscipit possimus sed debitis placeat? Amet dignissimos
  perspiciatis earum! In, unde excepturi. Quia deserunt impedit corporis enim explicabo nisi veniam
  nesciunt temporibus placeat, repellendus officiis sed fuga quae tempore laboriosam ab dicta
  consequuntur magnam,
</section>
<section class="foo">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore maxime at sint fuga minima
  nostrum unde libero excepturi magni sunt distinctio, quod hic voluptates maiores architecto cumque
  veritatis facilis ratione aperiam, reiciendis quas molestiae nesciunt commodi suscipit. Enim
  corrupti aspernatur necessitatibus aperiam ex reprehenderit id quos laboriosam, voluptate
  temporibus tempore nihil voluptas! In molestiae voluptatibus debitis illo! Tempore nobis ipsum
  molestiae aspernatur veniam asperiores consectetur repellat voluptas rem, perspiciatis quam
  voluptate voluptates quos ad, quis hic, iure quasi saepe mollitia veritatis? Accusamus nulla magni
  architecto modi rem, nam, totam eligendi blanditiis voluptate tenetur vitae nobis vel eaque quam
  voluptatem soluta impedit beatae sit! Quos, veniam! Maiores quasi fugit tempora dolorum autem ex
  consequuntur nemo temporibus cupiditate totam nobis facilis expedita magni fuga, quis laborum
  asperiores, incidunt voluptatum ipsam? Eaque culpa alias eius doloribus error corporis amet unde
  fuga quam ad modi delectus aperiam, cumque neque nihil et dolorum necessitatibus? Iure delectus,
  blanditiis, itaque ducimus cumque magni qui rem sunt perferendis esse dolores, explicabo veniam
  aut sapiente quidem repellat ipsum voluptas modi tenetur officiis veritatis. Sit quas at non! Unde
  dolor vitae nostrum expedita at eos veritatis, voluptatem iste saepe dicta quaerat illo officia
  magnam consequatur optio? Rem vero blanditiis neque consequuntur adipisci et magnam odit aperiam,
  doloribus a mollitia nesciunt quisquam ducimus ratione in, iure nemo vitae aliquid. Esse excepturi
  doloremque dolores minima asperiores nam accusantium earum vero doloribus, sapiente consectetur
  beatae, enim incidunt reprehenderit sit suscipit possimus sed debitis placeat? Amet dignissimos
  perspiciatis earum! In, unde excepturi. Quia deserunt impedit corporis enim explicabo nisi veniam
  nesciunt temporibus placeat, repellendus officiis sed fuga quae tempore laboriosam ab dicta
  consequuntur magnam,
</section>
