.benefits {
  margin-left: auto;
  margin-right: auto;
  background-color: transparent;

  transform: translateY(-50px);
  background: linear-gradient($main-color 70%, $white-color 30%);

  @media screen and (min-width: 480px) {
  }

  @media screen and (min-width: 1344px) {
    display: flex;
    justify-content: center;
    transform: translateY(-50%);
  }
}

.benefits-section__title {
  margin-bottom: 30px;
  max-width: 180px;
  color: $white-color;

  font-size: 20px;
  line-height: 27px;
  line-height: 1.36;
  align-items: left;
  letter-spacing: 0.03;

  @media screen and(min-width: 1344px) {
    display: none;
  }
}

.benefits-wrapper {
  counter-reset: tidbit-counter;
  min-width: 280px;

  background-color: $white-color;
  box-shadow: -5px 21px 26px rgb(0 0 0 / 4%);

  @media screen and (min-width: 1344px) {
    height: 398px;
    max-width: 1314px;
    padding: 70px 76px;
  }
}

.benefit-list {
  margin: 0;
  padding: 0;
  counter-reset: tidbit-counter;

  @media screen and(min-width: 320px) {
    padding: 20px 23px 20px 30px;
  }

  @media screen and(min-width: 1344px) {
    display: flex;
    flex-wrap: wrap;

    margin-bottom: -32px;
    margin-right: -40px;
  }
}

.benefit-item {
  &:not(:last-child) {
    margin-bottom: 20px;
  }

  @media screen and(min-width: 2344px) {
    margin-bottom: 32px;
    margin-right: 40px;
    flex-basis: calc((100% - 120px) / 3);
  }
}

.benefit-text {
  font-weight: bold;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.08em;
  color: $main-color;
}

.benefit-title {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: 0.08em;

  color: $accent-color;
  position: relative;
  &:after {
    position: absolute;
    counter-increment: tidbit-counter;
    content: '0' counter(tidbit-counter);
    left: 24px;
    top: 0;
  }
}

@media (max-width: 1279px) {
  // .benefits {
  //   display: flex;
  //   flex-direction: column;
  //   justify-content: center;
  //   // bottom: -333px;
  //   .section__title {
  //     display: block;
  //     margin-bottom: 30px;
  //     text-align: center;
  //   }
  // }

  .benefit-text {
    font-size: 14px;
  }

  .benefit-title {
    font-size: 14px;
    margin-bottom: 10px;
  }
}

@media (min-width: 380px) {
  .sublist-item {
    min-width: 190px;
  }
}
